# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# API 키가 포함된 설정 파일
config.json

# 특정 빌드 파일
ox-quiz
ox-quiz.exe

# IDE 관련 파일
.idea/
.vscode/
*.swp
*.swo

# macOS 관련 파일
.DS_Store

# 로그 파일
*.log
